<div class="cards__arrow">
    <div class="cards__arrowLine"></div>

    <svg fill="none" height="15" viewbox="0 0 21 14" width="21" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 2L20 7" stroke-linecap="square" stroke-width="2" stroke="#1427C8"/>
        <path d="M14 13L20 7" stroke-linecap="square" stroke-width="2" stroke="#1427C8"/>
    </svg>
</div>
