<article class="faq__item">
    <div class="faq__crossContainer">
        <div class="faq__crossLine"></div>
        <div class="faq__crossLine"></div>
    </div>
    <div class="faq__content">
        <h3 class="faq__heading">
            {{block.settings.faq_question}}
        </h3>
        <p class="faq__body">
            {{block.settings.faq_answer}}
        </p>
    </div>
</article>
<div class="faq__line"></div>