<div class="container">
    <section class="accountTabs">
        <a href="/account">
            <h2 class="accountTabs__heading" id="purchasesTab">
                Orders
                <span class="accountTabs__count accountTabs__count" id="itemcount">{{customer.orders.size}}</span>
            </h2>
        </a>

        <a href="/pages/wishlist">
            <h2 class="accountTabs__heading" id="wishlistTab">Wishlist
                <span class="accountTabs__count wishlist-item-count" id="wishCircle"><!-- include 'wishlist-total' --></span>
            </h2>
        </a>

    </section>
</div>

<script>

</script>
