<section class="blogTopics" data-aos="fade-up">
    <div class="container blogTopics__container">
        <h3 class="blogTopics__heading" data-aos-delay="100" data-aos="fade-up">{{section.settings.topics_title}}</h3>
        <div class="blogTopics__topicsContainer">
            <a class="blogTopics__topic" href="/blogs/medico/tagged/exercise" id="exercise" data-aos-delay="200" data-aos="fade-up">
                {% include 'blogTopicExercise' %}
                <p class="blogTopics__body">Exercise</p>
            </a>
            <a class="blogTopics__topic" href="/blogs/medico/tagged/medicine" id="medicine" data-aos-delay="300" data-aos="fade-up">
                {% include 'blogTopicMedicine' %}
                <p class="blogTopics__body">Medicine</p>
            </a>
            <a class="blogTopics__topic" href="/blogs/medico/tagged/mental-health" id="mental-health" data-aos-delay="400" data-aos="fade-up">
                {% include 'blogTopicMental' %}
                <p class="blogTopics__body">Mental Health</p>
            </a>
            <a class="blogTopics__topic" href="/blogs/medico/tagged/diet" id="diet" data-aos-delay="500" data-aos="fade-up">
                {% include 'blogTopicDiet' %}
                <p class="blogTopics__body">Diet</p>
            </a>
            <a class="blogTopics__topic" href="/blogs/medico/tagged/news" id="news" data-aos-delay="600" data-aos="fade-up">
                {% include 'blogTopicNews' %}
                <p class="blogTopics__body">News</p>
            </a>
        </div>
    </div>
</section>

<script>
        const url = window.location.href;
        if (url.indexOf('/' + 'exercise') != -1){
            document.getElementById('exercise').classList.add('clicked')
        } 
        if (url.indexOf('/' + 'medicine') != -1){
            document.getElementById('medicine').classList.add('clicked')
        } 
        if (url.indexOf('/' + 'mental-health') != -1){
            document.getElementById('mental-health').classList.add('clicked')
        } 
        if (url.indexOf('/' + 'diet') != -1){
            document.getElementById('diet').classList.add('clicked')
        } 
        if (url.indexOf('/' + 'news') != -1){
            document.getElementById('news').classList.add('clicked')
        } 

</script>

{% schema %}

{
"name": "Blog Topics",
"settings": [
  {
    "type": "text",
    "id": "topics_title",
    "label": "Title",
    "default": "Featured topics"
  }
]
}

{% endschema %}
