<section class="collectionHero collectionHero--default">
    <div class="container collectionHero__container collectionHero__container--default">
        <div class="collectionHero__info collectionHero__info--default">
            <h1 class="collectionHero__heading">{{collection.title}}</h1>
            <p class="collectionHero__body collectionHero__body--default">
                {{collection.description}}
            </p>
        </div>
    </div>
</section>