<footer class="footer">
    <div class="footer__container container">
        <div class="footer__linkgroup">
            <a class="footer__link" href="/pages/shop">Marketplace</a>
            <a class="footer__link" href="/blogs/podcast">Podcast</a>
            <a class="footer__link" href="/blogs/medico">Blog</a>
            <a class="footer__link" href="/pages/about">About Us</a>
        </div>
        <div class="footer__linkgroup">
            <a class="footer__link" href="/pages/delivery-and-returns">Delivery & Returns</a>
            <a class="footer__link" href="/pages/privacy-policy">Privacy Policy</a>
            <a class="footer__link" href="/pages/terms-and-conditions">Terms & Conditions</a>
            <a class="footer__link" href="/pages/faq">FAQs</a>
        </div>
        <div class="footer__socials">
            <div class="footer__icons">
                <a href="https://www.instagram.com/medico.lifestyle/?hl=en" target="_blank">
                    {% include 'miscInstagram' %}
                </a>
                <a href="https://www.facebook.com/medicolifestyle/" target="_blank">
                    {% include 'miscFacebook' %}
                </a>
                <a href="https://twitter.com/MedicoLifestyle" target="_blank">
                    {% include 'miscTwitter' %}
                </a>
            </div>
            <p class="footer__contact">Contact</p>
            <a href="mailto:info@medicolifestyle.com">info@medicolifestyle.com</a>
            <a class="footer__madebysphere" href="https://madebysphere.com" target="_blank">Website by MadeBySphere</a>
        </div>
    </div>
</footer>
